<!-- <nav class="navbar">
    <div class="searchPart">
        <div class="links">
            <a class="anasayfaLink" href="/">Anasayfa</a>
            <a class="settingsLink" href="/settings">Settings</a>
            <a class="logout" href="/logout">logout</a>
            <form class="addForm" action="/add">
        </div>
            <td><button class="addButton">Add Product</button>
        </form>
    </div>
</nav> -->
<nav class="navbar">
    <div class="brand-title"><a href="/">PratikTekno</a></div>
    <a href="#" class="toggle-button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>
    <div class="navbar-links">
      <ul>
        <li><a href="/panel">Anasayfa</a></li>
        <li><a href="/settings">Ayarlar</a></li>
        <li><a href="/add">Ürün Ekle</a></li>
        <li><a href="/logout">Çıkış Yap</a></li>
      </ul>
    </div>
  </nav>